.x{
  position: relative;
  cursor: pointer;
}

.x::before,
.x::after{
  content: '';
  position: absolute;
  width: 80%;
  height: 4px;
  background-color: white;
}

.x::before{
  transform: rotate(45deg);
}

.x::after{
  transform: rotate(-45deg);
}

.o {
  position: relative;
  cursor: pointer;
}

.o::before{
  content: '';
  position: absolute;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: white;
}

.o::after{
  content: '';
  position: absolute;
  width: calc(75% - 8px);
  height: calc(75% - 8px);
  border-radius: 50%;
  background-color: black;
}