.x,
.xhover {
  position: relative;
  cursor: pointer;
}

.x::before,
.x::after,
.xhover::before,
.xhover::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 4px;
  background-color: white;
}

.x::before,
.xhover::before {
  transform: rotate(45deg);
}

.x::after,
.xhover::after {
  transform: rotate(-45deg);
}

.o, .ohover {
  position: relative;
  cursor: pointer;
}

.o::before,
.ohover::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: white;
}

.o::after,
.ohover::after {
  content: "";
  position: absolute;
  width: calc(75% - 8px);
  height: calc(75% - 8px);
  border-radius: 50%;
  background-color: black;
}
