.App {
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  min-height: 100vh;
  gap: 20px;
}

.row {
  display: flex;
}

.square {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  margin: 1px;
  font-size: 3rem;
}

.gamelog {
  grid-row: 1/4;
  grid-column: 3;
  justify-self: start;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;

}

.status {
  align-self: flex-end;
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.ui {
  align-self: flex-start;
  grid-row: 3;
  grid-column: 2;
  display: flex;
  align-items: center;
  gap: 10px;
}

.gamelog-cell {
  display: flex;
  align-items: center;
  gap: 20px;
}

.gamelog-text {
  width: 350px;
}

.btn {
  background-color: white;
  border: 1px solid black;
  padding: 10px 0;
  width: 120px;
  height: 35px;
}

.btn:hover {
  font-weight: bold;
  outline: 1px solid black;
}

.btn:active {
  transform: scale(0.9);
}

.board-container {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
